.cartContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.leftSide {
  width: 60%;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.rightSide {
  background-color: white;
  width: 37.5%;
  position: sticky;
  top: 1rem;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.leftSideContent,
.rightSideContent {
  padding: 1rem;
}

@media screen and (max-width: 720px) {
  .cartContainer {
    display: block;
    position: relative;
  }

  .leftSide,
  .rightSide {
    width: 100%;
  }

  .rightSide {
    position: sticky;
    bottom: 1rem;
    margin: 1rem 0;
    z-index: 1;
  }
}

@media screen and (min-width: 1244px) {
  .leftSide {
    width: 100%;
    margin-right: 20px;
  }

  .rightSide {
    max-width: 400px;
  }
}
