.content {
  padding: 2rem 4rem;
}

.content h1 {
  font-size: 2rem;
  margin: 0;
}

.actionArea {
  margin: 2rem 0 1rem 0;
  width: 100%;
  text-align: center;
}

.actionArea input {
  margin: 0;
  padding: 1.2rem 1.5rem;
  font-size: 1.2rem;
  width: 80%;
  box-sizing: border-box;

  border: solid black 0.1px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.actionArea input:focus {
  outline: 0.1px solid var(--store-blue);
}

.actionArea button {
  width: fit-content;
  background: none;
  color: white;
  border: none;
  padding: 1.2rem 1.5rem;
  font: inherit;
  cursor: pointer;
  font-size: 1.2rem;
  width: 20%;
  box-sizing: border-box;

  outline: 0.1px solid var(--store-blue);
  background-color: var(--store-blue);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.actionArea button:hover {
  background-color: var(--store-blue-dark);
}

@media screen and (max-width: 992px) {
  .content {
    padding: 2rem 2.5rem;
  }
  .content h1 {
    font-size: 1.6rem;
  }

  .actionArea input {
    font-size: 1rem;
    padding: 1rem 1.2rem;
  }

  .actionArea button {
    font-size: 1rem;
    padding: 1rem 0.8rem;
  }
}
@media screen and (max-width: 560px) {
  .content {
    padding: 2rem 2rem;
  }
  .content h1 {
    font-size: 1.2rem;
  }

  .actionArea input {
    font-size: 0.9rem;
    padding: 0.8rem 1rem;
  }

  .actionArea button {
    font-size: 0.9rem;
    padding: 0.8rem 0.4rem;
  }
}
