.main {
  display: flex;
  font-size: 0.5rem;
}

.main button {
  padding: 0 0.4rem;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  outline: 0.1px solid black;
  height: 100%;
}

.buttonSubtract {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.buttonAdd {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.main input {
  width: 2rem;
  text-align: center;
  border: none;
  outline: 0.1px solid black;
  z-index: 1;
}

.main input::-webkit-outer-spin-button,
.main input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.main input[type="number"] {
  -moz-appearance: textfield;
}
